.container {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: #ee4e34;
  margin: 10px;
  height: 97vh;
  font-family: sans-serif;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  background-color: floralwhite;
  padding: 20px;
  overflow: scroll;
}

.navigation-bar {
  display: flex;
  height: 20px;
  margin-bottom: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-right: 4px solid #ee4e34;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease-in;
}
.nav-item:hover {
  background-color: #ee4e34;
}

.nav-item:last-child {
  border-right: none;
}

.page-title {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
  font-size: 16px;
  color: white;
  background-color: #ee4e34;
}

h1{
  margin:0;
  padding: 0;
  font-size: 14px;
}

h2{
  margin:0;
  padding: 0;
  font-size: 12px;
}


.logo-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.league-logo{
  margin-top: 10px;
  height: 40px;
  width: 40px;
  object-fit: contain;
}



.empty-section {
  flex: 3;
  background-color: #fcedda;
}

.competition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-list {
  padding: 0;
}

.match-item {
  list-style-type: none;
  box-shadow: 0 2px 4px #ee4e34;
  background-color: #ee4e34;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background-color: #fcedda;
}

.competition-title {
  font-size: 14px;
  font-weight: bold;
  background-color: #ee4e34;
  color: #fff;
  margin-bottom: 5px;
  padding: 4px;
  box-shadow: 0 4px 6px #ee4e34;
}

.team-name {
  width: 200px;
  font-size: 10px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: 0 4px 6px #ee4e34;
}

.score {
  font-weight: bold;
  color: black;
}
.expand-icon{
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 10px;
}

